.error_msg{
       	float: none;
		color:#ff0000;
		font-size:13px;
		font-family: serif;
		
  }
  .status{
			font-size:14px;
			color: #E98506;
			text-align: center;
			margin-bottom: 10px;
}
.left {padding: 30px; height: auto; float: left;}

.success_color{
  margin-bottom: 25px;
  color: #bc8a5d;
}
.btn-primary {	
color: #fff;
		background-color: #3b405c;
		border-color: #3b405c;
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.25;
		border-radius: .25rem;
		transition: all .15s ease-in-out;}