

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
  font-size: 13px;
	font-family: Poppins-Regular, sans-serif;
  margin: 0;
  padding: 0 !important
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #bf8a62;
}
.divider{
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  margin:5px 0; 
  background: #ddd
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/

textarea {
  outline: none;
  border: none;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c38760, #0e123a);
  background: -o-linear-gradient(-135deg, #c38760, #0e123a);
  background: -moz-linear-gradient(-135deg, #c38760, #0e123a);
  background: linear-gradient(-135deg, #c38760, #0e123a);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 95px 60px 95px;
}
.wrap-login1001 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.login100-form1 {
    width: 100%;
}
/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 300px;
  text-align: center;
  margin:80px 0 0 0 
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #bc8a5d;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 30px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #555;

  display: block;
  width: 100%;
  background: #eee;
  height: 50px;
  border-radius: 5px;
  border:solid 1px #bbb;
    padding: 10px 15px 10px 15px;
}

.input1001 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border:none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;border-radius: 3px;
    padding: 0 15px 0 55px;
}
/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.p-t-12{
  margin: 10px 0
}
.login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background:#0d1335;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background:  #fabb34;
}
.login20-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  width: 20%;
  height: 50px;
  border-radius: 25px;
  background:#013a71;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login20-form-btn:hover {
  background:  #fabb34;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.login100-pic h2{
  font-size: 18px;
  margin: 25px 0 10px 0
}
.ne_logo{
  float: left;
  margin-right:  15px;
}
.login100-form-title1{
  text-align: left;
      font-family: Poppins-Bold;
    font-size: 24px;
    color: #ed1c24;
    line-height: 1.2;
    width: 100%;
    display: block;
    padding-top: 54px;
    padding-bottom: 15px
}


.mdb-color.darken-3 {
    background-color: #1C2A48!important;
}

/*Home page*/
.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.mybg-dark {
    background: #fff;
    box-shadow: 0px 0px 5px #ddd
}

header.masthead {
    position: relative;
    height: 100vh;
    background-color: #343a40;
    background: url('../images/bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.testimonials{
    padding-top:5rem;
    padding-bottom:5rem;
    
}

.myform-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100%;
}



.big-img img {
    height: 325px;
    width:100%;
    object-fit: cover;
}

.inner-section{
 position:relative;   
}
.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    width: 138px;
    background: #0d1335;
    border: 1px solid #1d1335;
}
.btn-login:hover{
         background: #3683a1 !important;
      border: 1px solid #1fc6d8 !important;
}
.mfa-white {
    color: #fff !important;
}
.right{
  float: right;
}
h3.my-heading {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin:40px 0 0 0;
}

.myp-slider {
    color: #fff;font-size: 18px;margin: 20px 0;
}
.fixed-top{
  padding: 0;
  background: #fff;
}
.btn-register {
    width: 138px;
    background: #bd895f;
    border: 1px solid #ad895f;
}


.btn-register:hover{
       background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}

.btn-join {
    background: #0d1335;font-size: 18px;
    border: 1px solid #1d1335;
}

section#about {
    width: 100%;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}

.btn-circle {
    border-radius: 50%;
}

.my-social-btn {
    background: lightgrey;
}

.card:hover .my-social-btn.fb {
    background: #205b9f;
}
.card:hover .my-social-btn.twitter {
    background: #00ace3;
}
.card:hover .my-social-btn.google {
    background: #ff3921;
}
/*
a.btn.btn-circle.my-social-btn.fb:hover {
    background: #205b9f;
}

a.btn.btn-circle.my-social-btn.twitter:hover {
    background: #00ace3;
}

a.btn.btn-circle.my-social-btn.google:hover {
    background: #ff3921;
}
*/
a.btn.btn-circle.my-social-btn {
    color: #fff;
    height: 40px;
    width: 40px;
}

.inner-section h3 {
    text-transform: uppercase;
    font-weight:bold;
}

.inner-section h3:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #008ba3;
    width: 100%;
    max-width: 10%;
    top: 37px;
    left: 0;
}
span.bg-main {
    color: #bd895f;
        margin: 0 0 20px 0;
    display: block;
}

hr.my-border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #008ba3;
    width: 117px;
}

.linear-grid img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.mybg-events {
    background:#0d1335;
    background-size: cover;
}

.h-262 {
    height: 262px !important;
}

h3.title-heading.text-center {
    color: #fff;
    font-weight: bold;
}

p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
    margin-top:1em
}

.big-img2 img {
    height: 472px;
    width: 100%;
    object-fit: cover;
}

.my-grid img {
    height: 228px;
    width: 100%;
    object-fit: cover;
}






.text-block {
    min-height: 228px;
    height: auto;
    background: #fff;
    padding: 15px;
}

h5.events-heading {
    font-weight: bold;
    font-size: 17px;
}

p.myp-font {
    font-size: 15px;
}

section#group {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 1em;
    border: none !important;
    border-radius: .28571429rem;
}

.card:hover {
    color: #222 !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none !important;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 80px;
    height: auto;    
    margin: 0 auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
.card-footer small{
	font-size: 1em;
	color:#333;
}
.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.mybg-music {
    background: url('https://images.pexels.com/photos/1267317/pexels-photo-1267317.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center fixed;
    background-size: cover;
}

section#marketplace {
    background: #f7f7f7;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section#marketplace .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

section#artist {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a.link-color {
    color: #008ba3;
    font-weight: bold;
}

.my-right-text {
    padding-top: 3rem;
}


/***music gallery***/

.gal-item {
overflow: hidden;
}
.gal-item .box {

overflow: hidden;
}
.box img {
height: 160px;
width: 100%;
object-fit: cover;
-o-object-fit: cover;
}
/****/
.item {
position: relative;
}
.item img {
max-width: 100%;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
.item:hover img {
-moz-transform: scale(1.4);
-webkit-transform: scale(1.4);
transform: scale(1.4);
}



/*sidebar navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 15px;
}
#main {display: none;}
#main {
  float: right;
    transition: margin-right .5s;
    
}
a.openNav {
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}
.sidenav .nav-link {
  font-size: 13px;
  font-weight: bold;
}
.mob-ul {
    list-style-type: none;
    padding-left: 0;
}
.sidenav li{
  padding: 0 3px !important;
    position: relative;
}
.sidenav li a {
    padding: 10px 15px;
    text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
    color: #008ba3;
}

li.nav-item a:hover {
    background: #000;
    color: #ffffff !important;
}
.logo_new{
  width: 250px;
}
.logo_new img{
  width: 100%;
}


.floating-arrow {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

footer.footer{padding-top:2rem;padding-bottom:2rem; background: #000 !important}

li.list-inline-item a {
    color: #fff;
    text-decoration: none;
}


/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
    ::placeholder {
        font-size: 10px;
    }
    .scroll-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45px;
    }
    
    .text-block {
        padding: 15px;
    }
    .linear-grid img {
        width: 100%;
        height: 181px;
    }
    .my-grid img {
        width: 100%;
    }
   
   
}
@media screen and (max-width: 767px) {
    .btn-login{
       width:100%; 
    }
    .btn-register {
         width:100%; 
    }
}



@media only screen and (min-width:2560px){}
@media only screen and (min-width:1600px) and (max-width:1920px){
  .navbar-toggler {display: none !important;}
}
@media only screen and (min-width:1440px){
  .navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1280px){
  .navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1024px){
  .navbar-toggler {display: none !important;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  h5.events-heading{font-size:15px;}
  p.myp-font{font-size:13px;}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  .navbar-toggler {display: none !important;}
  .mob-ul{list-style-type: none; padding-left: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}

}

@media only screen and (max-width:736px) and (orientation:landscape){
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:667px) and (orientation:landscape){
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h5.events-heading {
    font-size: 20px;
}
p.myp-font {
    font-size: 15px;
}
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}  
  .box img {height: 100%;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
  .box img {height: 100%;}
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}  
  .box img {height: 100%;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
  .box img {height: 100%;}
}
@media only screen and (max-width: 320px) {
     .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
  .navbar-toggler {display: none !important;}
  #main {display: block;}
  .header-wrap .navbar .nav-link {color: #fff;}
  .mob-ul{list-style-type: none; padding-left: 0;}
  .header-wrap .sub-menu {width: 250px;}
  .box img {height: 100%;}
}
  .panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border: medium none;
}
  
.panel-box .panel-icon {
    display: table-cell;
    padding: 17px;
    width: 1%;
    vertical-align: top;
    border-radius: 0px;
    text-align: center;
  border-bottom: 1px solid #fcfcfc;
  border-top: 1px solid #fcfcfc;
  border-right: 1px solid #fcfcfc;
}
  
  .dashboard-stats .stat-icon {
    line-height: 65px;
}
  .show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
.right .dropdown-menu{
  padding: 10px;
  width: 250px;
}
.right ul.dropdown-menu li a{
  font-weight: bold;    padding: 10px 0 0;
    display: block;
}
.right ul.dropdown-menu li a span{
  text-decoration: none !important;
  font-size: 13px;display: block;font-weight: normal;

}
.navbar-shrink .dropdown-toggle{
  color: #333;
}
  .bg-success {
    background-color: #A3C86D !important;
    color: #FFF !important;
}


  
  .success-text {
    color: #82b33a;
}
  
  .bg-danger {
    background-color: #FF7857 !important;
    color: #FFF !important;
}
  
  .danger-text {
    color: #d15b3d;
}
  
  
  .bg-lovender {
    background-color: #8075C4 !important;
    color: #FFF !important;
}
  
  
  .lovender-text {
    color: #6a5fb1;
}
  
  

  .bg-info {
    background-color: #7ACBEE !important;
    color: #FFF !important;
}
  
  .info-text {
    color: #3ca0cb;
}
  
  
  
  
  .size-h1 {
    font-size: 20px;
    color: #fff
}
  
  .panel-icon p.text {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
  
  
  
    .panel-icon i {
    text-align: center;
}
  
  
  
    .text-large {
    font-size: 50px;
}


    .text-large {
    font-size: 50px;
}
  



/*Dashboard*/


/*===========================SUPPORT CLASS===========================*/

.trans{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.flowHide{
    overflow: hidden;
}

.side-bar-warp{
  position: relative;
  top: 50px;
  width: 100%;
      min-height: 670px;
}
/*===========================NAVBAR START===========================*/

.bg-dark {
    background-color: #fff !important;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 9
}
.navbar-brand{
  margin-left: 1rem;
}
.navbar {    
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    background: #f3f4fb;
}

/*HAMBURGER START*************************/

.hamburger {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
    transition: all 1s ease;
}

.cta {
  height: 50px;
  width: 50px;
  cursor: pointer; }

.toggle-btn {
  height: 2px;
  width: 25px;
  background-color: #0d1335;
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out; 
}
  .toggle-btn:before {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 -7px 0 0 #0d1335;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}
  .toggle-btn:after {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 7px 0 0 #0d1335;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}
.mn_active{
  background-color: #0d1335;
  color:#fff !important;	
}
.active .type14 {
  background-color: #0d1335;
  width: 12px;
  margin: auto; 
}
  .active .type14:before {
    width: 6px; 
}
  .active .type14:after {
    width: 25px;
}

/*HAMBURGER END*************************/

.nav-item .nav-link{
    display: block;
    color:#0d1335;
    font-size:15px;   
    position: relative;
    white-space: nowrap;
}

.user-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #b80100;
    border-radius: 50px;
}


@media (min-width: 576px){
.navbar-expand-sm .navbar-nav .nav-link {    
    
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
}
    }

/*============================SIDE BAR START============================*/
.sidebar-menu {   
    position: fixed;
    z-index: 99;
    height: 100vh;
    display: inline-block;
    background-color: #f3f4fb;     
    display: block;
    min-height: 100%; 
    transition: all .3s cubic-bezier(.55,0,.1,1);    
    border-top: solid 2px #ddd;
/*    transform: translate3d(-200px,0,0);*/
}

.sidebar-menu .navbar-nav .nav-link {
    padding: 10px 0;
    position: relative;
    white-space: nowrap;
   border-left: solid 4px #f3f4fb;
    
}
.sidebar-icon{
  margin-left: 25px
}
.sidebar-menu .navbar-nav .nav-link img{
    margin-bottom:5px;
}
.sidebar-menu .nav-link:hover, .sidebar-menu .nav-link.active {
       background-color: #000;
       border-left: solid 4px #313755;
       color:#fff;
}

/*SMALL SIDE BAR****************/
.full-side-bar {
    width: 220px;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.small-side-bar{
    width:60px;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.nav-link-name{
    position: relative;
    margin-left: 15px;
    
}
.nav-link-name {
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s;
    border-radius: 0.6rem;
    padding: 2px 10px;
    left: 40px;
   
}
.tax-active > .tax-show{
    display: inline-block !important; 
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s; 
    border-radius: 0.6rem;
    padding: 2px 10px;
    left: 40px;
    background-color:#171717;
    
}
.tax-active > .tax-show::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 15px solid #171717;
   
}
.name-hide{
    display: none;
}
.navbar-dark .navbar-brand {
    color: #fff;
    margin: 0;
    padding: 8px 0px;
    background: #f3f4fb;
}
.mn_menu .navbar-brand {
    padding: 8px 20px;
}
.mn_menu .dropdown-menu {
    padding: 10px;
    left: auto;
    right: 0;
    width: 160px
}
.mn_menu .dropdown-menu li{
  line-height: 30px;
}
.mn_top{
  margin: 20px 0 0 0
}
.mn_top_1{
  margin: 20px 0 0 0;
    position: relative;
    top: 5px;
    color: #bd895f;
}
/*///////////////ANIMATEED///////////////*/
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: mymove 1s ;
    animation-iteration-count: 1;
}

/*FADE IN RIGHT*/

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


@keyframes fadeInRight{
    
    0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

.side-bar-warp .dashboard-stats{
  margin-left: 220px;
  position: relative;
      padding-top: 0px;
      min-height: 700px;
}
.side-bar-warp .panel-box .panel-icon{
  padding: 5px
}

/*Emploeyye*/
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
#example_wrapper label {
    display: inline-flex;
    margin-top: .5rem;
}
#example_wrapper .form-control{
  margin:-4px 5px 10px 10px
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
    cursor: pointer;
}
.table-striped thead{
  background-color: #f5f5f5;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #fff;
}
#radioBtn .notActive{
    color: #fff;
    background-color: #d0c900;
    cursor: pointer;
    border-color: #00c900
}
#radioBtn .notActive:last-child {
  color: #fff;
    background-color: #ccc;
    cursor: pointer;
    border-color: #aaa
}
.dataTables_wrapper .btn-primary.active {
    background-color: #008e03;
    background-image: none;
    border-color: #005402;
    color: #fff !important;
}

.m_contenr{
  margin: 100px 0 20px;
  min-height: 450px;
  width: 100%;
  position: relative;
  text-align: center;
}
.m_contenr h2{
  font-size: 36px;
  margin-top:20px; 
  color: #be885f;
}
.m_contenr p{
  font-size: 16px;
  margin-top:20px; 
}
.m_contenr a{
  text-decoration:underline;
}
.succues_color{
  margin-bottom: 25px; 
  color: #bc8a5d;
}
#chartdiv {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.Utilization{
  width: 100%;
  box-shadow: 0px 0px 5px #ddd;
  padding: 15px;
}
.Utilization h2 {
    text-align: left;
    border-bottom: solid 1px #ddd;
    padding: 5px 0 10px 0;
    color: #00446b;
}
.bg_footer{
  background-color: #f3f4fb;
 padding: 15px 0;
 position: relative;
 bottom: 0;
 width: 100%;
 color: #333;
 text-align: center;
}



.breadcrumb {
    padding: 0px;
  background: #D4D4D4;
  list-style: none; 
  overflow: hidden;
  width: 100%;
  border-radius: 0;
    margin-top: 0px;
}
.breadcrumb>li+li:before {
  padding: 0;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li.active a {
  background: brown;                   /* fallback color */
  background: #ffc107 ; 
}
.breadcrumb li.completed a {
  background: brown;                   /* fallback color */
  background: hsla(153, 57%, 51%, 1); 
}
.breadcrumb li.active a:after {
  border-left: 30px solid #ffc107 ;
}
.breadcrumb li.completed a:after {
  border-left: 30px solid hsla(153, 57%, 51%, 1);
} 

.breadcrumb li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 45px;
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(0, 0%, 83%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
} 
.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
} 
.breadcrumb li:first-child a {
  padding-left: 15px;
}
.breadcrumb li a:hover { background: #ffc107  ; }
.breadcrumb li a:hover:after { border-left-color: #ffc107   !important; }



.tile{
  width: 100%;
  background:#fff;
  border-radius:0px;
  float:left;
  padding: 0 0 10px;
  height: 480px;
  overflow: auto;
}

.header{
  padding:0 15px 10px 15px;
  width: 100%;
  float: left;
  text-align:left;
  color:#59687f;
  font-size:600;
  font-size:19px; 
  position:relative;
}
.header h6{
  float: left;
  margin-top: 8px;
  font-size: 18px; 
}
.header p{
  float: right;
}
.header a{
  border:solid 1px #ddd;
  padding: 5px 10px;
  float: left;
  color: #888;
  font-size: 13px;
}
.dates{
  border:1px solid #ebeff2;
  padding:5px 0px;
  margin:0px 0px;
  float: left;
  width: 100%;
}
.mn_dates{
      background: #0d1335;
    color: #fff;
}
.dates div{
  float:left;
  width:50%;
  text-align:center;
  position:relative;
  padding:5px 0 5px
}
.dates strong,
.stats strong{
display: block;
    font-size: 15px;
    font-weight: 500;
  }
.dates span{
  width:1px;
  height:40px;
  position:absolute;
  right:0;
  top:0;  
  background:#ebeff2;
}
.stats{
  border-top:1px solid #ebeff2;
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;
  border-radius: 0 0 5px 5px;
}
.stats div{
  border-right:1px solid #ebeff2;
  width: 33.33333%;
  float:left;
  text-align:center
}

.stats div:nth-of-type(3){border:none;}
.employee_details{
      margin-top: 0px;
    width: 100%;
    padding: 0 0 0 0px;
    float: left;
}
.employee_details_1{
  margin-top:0;
  padding: 0
}
.employee_details_2{
  overflow: auto;
  height: 420px;
}
.activemain span, .awaymain span, .idlemain span{
  width: 10px;
  height: 10px;
  background: #009600;
  border-radius: 50%;
  margin-right:10px;
      float: left;
    margin-top: 5px; 
}
.awaymain span{
  background: #fdc948
}
.idlemain span{
  background: #aeaeae
}

/*Settings*/

.price-box {
  background: #E9E9E9;
  border-radius: 10px;
  padding: 15px 15px;
  width: 100%;
}
.price-box label{
  display: block;
  cursor:pointer
}
.price-box .ui-widget-content {
  border: 1px solid #bdc3c7;
  background: #e1e1e1;
  color: #222222;
  margin-top: 4px;
}

.price-box .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 5.2em;
  height: 2.2em;
  cursor: default;
  text-align: center; 
  line-height: 30px;
  color: #FFFFFF;
  font-size: 15px;
  left: 0;
  right: 0
}

.price-box .ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 3px; 
  font-size: 11px;
  opacity: 0.5;
}

.price-box .ui-corner-all {
  border-radius: 20px;
}

.price-box .ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

.price-box .ui-state-default,
.price-box .ui-widget-content .ui-state-default {
  border: 1px solid #f9f9f9;
  background: #3b405c;
}

.price-box .ui-slider-horizontal .ui-slider-handle {
  margin-left: -3em;
}

.price-box .ui-slider .ui-slider-handle {
  cursor: pointer;
}

.price-box .ui-slider a,
.price-box .ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price-box .price, .price-box .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
}
.price-slider h5{
  font-size: 20px;
  margin:0 0 10px 0;
  color: #bd8960
}
.center-block{
  font-size: 18px;
  margin-right:15px 
}
.price-slider p{
  font-size: 13px;
  margin:0 0 10px 0 
}
.price-box h4.great {
  margin: 0 0 25px 0px;
  padding: 10px 0px;
  color: #bd8960;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
}

.price-box .total {
  border-bottom: 1px solid #7f8c8d;
  /*display: inline;
  padding: 10px 5px;*/
  position: relative;
  padding-bottom: 20px;
}

.price-box .total:before {
  content: "";
  display: inline;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background: #7f8c8d;
  opacity: 0.5;
}

.price-box .price-slider {
  margin-bottom: 20px;
}

.price-box .price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

.price-box .form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.price-box .price-form {
background: #ffffff;
    margin-bottom: 10px;
    padding: 10px 0;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    text-align: center;}

.price-box .form-group {
  margin-bottom: 0;
}

.price-box .form-group span.price {
  margin-left: 4px
}

.price-box .help-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #737373;
  position: absolute;
  /*margin-left: 20px;*/
  font-weight: 200;
  text-align: right;
  width: 188px;
}

.price-box .price-form label {
  font-weight: 200;
  font-size: 21px;
}

.price-box img.payment {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.price-box .ui-slider-range-min {
  background: #2980b9;
}

/* HR */

.price-box hr.style {
  margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.banner-heading{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
  color:#fff;
}
.banner-sub-heading{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  color:#fff;
}
.btn-warning{background-color:#eca439;}
.btn-warning:hover{background-color:#f39305;}
.mybtn{
  border-radius:0; 
  height:30px;
  margin:10px auto;
  line-height:10px;
}
.form-check-input{
  background-color:#fff !important;
  border-radius:50% !important;
  border:2px solid #f39305 !important;
}
.modal-content{
  width:400px;
  margin:auto;
}
.modal-backdrop.show{
  display: none;
}
.modal-header {
    padding:0.7rem 1rem;
    border-bottom: 1px solid #e9ecef;
   border-radius:0;
  background-color:#3b405c;
}
.modal-title{
  font-size:16px;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  }
.modal-body{
  width:100%;
  padding:15px;
}
.modal-open {
    overflow: initial;
}
.text-intro{
  font-size:0.8em;
  color:#777;
  text-align:center;
}
.form-div{
  background-color:#fff;
  padding:2em 1.5em;
  box-shadow:2px 2px 2px 2px rgba(215,215,215,0.5);
}
form{
  border:0 !important;
}
@media (max-width:500px){
  .modal-content{
  width:330px;
  margin:auto;
}
.banner-heading{
  font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
  font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}
}
@media (max-width:768px){
  .banner-text{
  padding:150px 0 150px 0;
}
  .banner-sub-heading{
  font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}



/*Screenshot*/
.mn_scre{
  padding: 5px 18px;
}
.mn_scre .col-md-2{
  padding: 0 3px;
}
.mn_screens{
    float: left;
    width: auto;
    margin: 3px 5px;
    padding: 5px;
}
.check
{
    opacity:0.5;
  color:#996;
  
}
.mn_btn{
  padding: 0;
      margin: 0;    
      border: none;
}
.mn_btn input{
  position: absolute;
    right: 25px;
    top: 10px;
}
.mn_scr{
  border: solid 1px #ddd;
  width: 100%;
  float: left;
      margin: 0 0 6px;
}
.mn_details{
  width: 100%;
  float: left;
  padding: 10px;
  border-top: solid 1px #ddd;
}
.mn_btn .img-thumbnail{
      border: none;
    height: 100px;
    padding: 0;
    border-radius: 0;
}
.mn_name p{
  height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
        color: #943f00;
}
.mn_name img{
  float: left;
  width: 20px;
  border-radius: 50%;
  border: solid 1px #ddd;
  margin: 0 5px 0 0
}
.pagination{
  float: right;
  margin: 20px 0
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221);
}


#searchText{
	width: 100%;
    height: 30px;
    padding: 7px 10px;
    border: solid 1px #ddd;
    border-radius: 5px;
    line-height: 30px;
}
.dashboard-stats label{
	margin:7px 0 0 0
}
.no_pad_left {
	padding-left:0
}
.mn_none{
	background:#333;
	color:#fff;
	padding:5px 10px;
}
.mn_none1{
	background:#0d1335;
	color:#fff;
	padding:5px 10px;
}
.pagination ul li{
	float: left;
}
.pagination ul li a{
	padding:5px 13px;
	color:#333;
	border:solid 1px #ddd
}
.pagination .current{
	background:#0d1335;
	color:#fff
}
#dataTableId a{
	color: #ce9b03;
	text-decoration: underline;
	cursor:pointer;
	
}
.form-horizontal button{
	float:right;
	padding:5px 15px;
	background:#0d1335;
	color:#fff;
	border-radius: 5px;
}
.form-group button{
	float:none
}
.no_msg{
	text-align:center;
	margin: 100px 0 0;
	font-size:25px;
	color:#ffc107
}
#selectrange{
	cursor: pointer
}
 /* Added on 19th august For display screenshot images as big  */
.modal-body img{
  width: 100%
}
/* .mn_scr .modal-dialog{
  width: 800px;
  max-width: 800px;
}
.mn_scr .modal-content {
    width: 100%;
} */
.modal-content {
    width: 800px;
    margin: auto;
}
.modal-dialog{
  max-width: auto;
}
.mn_left h6{
  float: left;
      color: #fff;
      margin: 5px 0 0;
}
.mn_left p{
  margin: 2px 5px;
  float: left;
}
.close{
  position: absolute;
  right: 10px;
  color: #fff;
}
.mn_left{
  width: 100%;
    padding: 0px 5px;
    color: #fff;
}
/* Completed css for display screenshot images as big  */



#example_wrapper a i{
  font-size: 15px;
  padding: 0 8px
}
#example_wrapper td select{
  border: solid 1px #ddd;
}
#example_wrapper td select:focus {
  border: solid 1px #ddd;
}
.table td{
  padding: 2px 10px
}
.table-bordered td, .table-bordered th{
  border-bottom: solid 1px #ddd;
}
.page-item.active .page-link{
  background: #181d3e;
  border-color: #181d3e;
}


.mn_table_employee{
	border: solid 1px #ddd;
	float:left;	
	
}
.mn_table_employee th{
	background:#0d1335;
	color:#fff;
	padding:5px;
	border: solid 1px #ddd;
}

.mn_table_employee td{
	padding:5px;
	color:#333;
	background:#f5f5f5;
	border: solid 1px #ddd;
}



.mn_proj{
      background: #0e1237;
      border:solid 2px #0e1237;
      color: #fff;
      margin: 0 0 0 10px
    }
    .mn_proj:hover{
      color: #0e1237;
      border:solid 2px #0e1237;
      background: none
    }
    .mn_tas{
      background: #bf8a62;
      border:solid 2px #bf8a62;
      color: #fff
    }
    .mn_tas:hover{
      color: #bf8a62;
      border:solid 2px #bf8a62;
      background: none
    }
    .no_pad{
    	padding:0
    }
    .no_pad_right{
    	padding: 0 0 0 10px;
    }
    .mn_model_cont{
    	width:400px
    }
    .modal{
    	background:rgba(0,0,0,0.5)
    }
    
 
 
 /* ///////////////////////////////////    */
  /*  Weekly Work Hours  */
  
  
    .right{
      box-shadow: 0px 0px 5px #ddd;
      padding: 15px
    }
    .input-group{
    	display:block;
    	
    }
    .input
    {
     color: #fff;
    }
    .input-group input{
    	width:100% !important;
    	float:left;
    	
    }
    .mn_middle_content{
      text-align: center;
      width:100%
    }
    .right label{
      width: 100%;
      text-align: left;
    }
    .input-group .btn{
      text-align: center;display: table;
    margin: 30px auto 0;
    }

    .input-group{
      position: relative;
    }
    .input-group i{
          margin: 0;
          position: absolute;
    right: 10px;
    top: 37px;

          z-index:  999;
    }
 
 
 /* ///////////////////////////////////    */
  /*  View Weekly Work Hours  */
  
     .mn_proj, .btn-unique{
      background: #0e1237;
      border:solid 2px #0e1237;
      color: #fff;
      margin: 0 0 0 10px;
      border-radius: 25px;
      padding: 5px 20px 7px
    }
    .mn_proj:hover, .btn-unique:hover{
      color: #0e1237;
      border:solid 2px #0e1237;
      background: none
    }
    .modal-title{
      color: #bf8a62
    }
    .form-control{
      border-radius: 20px;
    }
    .mn_tas{
      background: #bf8a62;
      border:solid 2px #bf8a62;
      color: #fff;
      border-radius: 25px;
      padding: 5px 20px 7px
    }
    .mn_tas:hover{
      color: #bf8a62;
      border:solid 2px #bf8a62;
      background: none
    }
    .avatar img {
    width: 25px;
    border-radius: 50%;
    }
    .shadow span{
      font-weight: normal;
    } 
    .media-body span{
      font-weight: 700;
    }
    .right{
      float: right;
    }
    .right p{
          display: inline;
          margin: 0 10px 0 0
    }
    .main-content{
    	width:100%;
    	float:left;
    	padding:0 15px
    }
    .card{
    	padding:0
    }
    .right{
      box-shadow: 0px 0px 5px #ddd;
      padding: 15px;
      width:100%;
      float:left;
    }